In [56]:
import pandas as pd

### Clearing data

Because of some reason generated text didn't fit into parser expectations. Se we need find this promts and regenerate them.

##### Llama-2-13b-chat-hf

In [57]:
llama2_13b = pd.read_csv('Llama-2-13b-chat-hf.csv')
llama2_13b = llama2_13b[['id','generated']]
llama2_13b_empty = llama2_13b[llama2_13b['generated'] == '']
print(llama2_13b_empty.shape[0])

0

##### Llama-2-7b-chat-hf

In [58]:
llama2_7b = pd.read_csv('Llama-2-7b-chat-hf.csv')
llama2_7b = llama2_7b[['id', 'generated']]

llama2_7b_empty = llama2_7b[llama2_7b['generated'] == '']
print(llama2_7b_empty.shape[0])

0

##### opt-2.7b

In [59]:
opt_2_7b = pd.read_csv('opt-2.7b.csv')
opt_2_7b = opt_2_7b[['id', 'generated']]

opt_2_7b_empty = opt_2_7b[opt_2_7b['generated'] == '']
print(opt_2_7b_empty.shape[0])

0

##### opt-1.3b

In [60]:
opt_1_3b = pd.read_csv('opt-1.3b.csv')
opt_1_3b = opt_1_3b[['id', 'generated']]

opt_1_3b_empty = opt_1_3b[opt_1_3b['generated'] == ""]
print(opt_1_3b_empty.shape[0])

0

##### opt-125m

In [61]:
opt_125m = pd.read_csv('opt-125m.csv')
opt_125m = opt_125m[['id', 'generated']]

opt_125m_empty = opt_125m[opt_125m['generated'] == '']
print(opt_125m_empty.shape[0])

0

### Mergin data into single dataset

In [62]:
opt_125m['source'] = 'opt-125m'
opt_1_3b['source'] = 'opt-1.3b'
opt_2_7b['source'] = 'opt-2.7b'
llama2_7b['source'] = 'llama2-7b'
llama2_13b['source'] = 'llama2-13b'

# merge datasets
merged = pd.concat([opt_125m, opt_1_3b, opt_2_7b, llama2_7b, llama2_13b])
merged.head()

         id                                          generated    source
0  63064638  Sexhow railway station was a railway station o...  opt-125m
1    279621  In Finnish folklore, all places and things, in...  opt-125m
2    287229  In mathematics, specifically differential calc...  opt-125m
3  26712375  is a Japanese shōjo manga series written by Sh...  opt-125m
4  38894426  Robert Milner "Rob" Bradley, Jr. (born August ...  opt-125m

In [63]:
merged['source'].value_counts()

source
opt-125m      1000
opt-1.3b      1000
opt-2.7b      1000
llama2-7b     1000
llama2-13b    1000
Name: count, dtype: int64

In [64]:
merged.to_csv('merged.csv', index=False)

In [65]:
merged.head()

         id                                          generated    source
0  63064638  Sexhow railway station was a railway station o...  opt-125m
1    279621  In Finnish folklore, all places and things, in...  opt-125m
2    287229  In mathematics, specifically differential calc...  opt-125m
3  26712375  is a Japanese shōjo manga series written by Sh...  opt-125m
4  38894426  Robert Milner "Rob" Bradley, Jr. (born August ...  opt-125m

### Publishing dataset

In [37]:
from huggingface_hub import notebook_login
notebook_login()

VBox(children=(HTML(value='<center> <img\nsrc=https://huggingface.co/front/assets/huggingface_logo-noborder.sv…

In [66]:
from datasets import load_dataset
dataset = load_dataset("csv", data_files="merged.csv")

Downloading data files:   0%|          | 0/1 [00:00<?, ?it/s]

Extracting data files:   0%|          | 0/1 [00:00<?, ?it/s]

Generating train split: 0 examples [00:00, ? examples/s]

In [67]:
dataset.push_to_hub("yatsy/GPT-wiki-intro-extension")

Pushing dataset shards to the dataset hub:   0%|          | 0/1 [00:00<?, ?it/s]

Creating parquet from Arrow format:   0%|          | 0/5 [00:00<?, ?ba/s]

Deleting unused files from dataset repository:   0%|          | 0/1 [00:00<?, ?it/s]

Downloading metadata:   0%|          | 0.00/1.78k [00:00<?, ?B/s]